@import './reset';
@import './imports';
@import './vars';
::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}
.noUi-connect {
	background: $accent-color !important;
}

.noUi-connects {
	background: $accent-color !important;
	height: 3px !important;
}

.noUi-handle {
	background: $accent-color !important;
	border: none !important;
	box-shadow: none !important;
	width: 14px !important;
	height: 14px !important;
	border-radius: 50% !important;
	cursor: pointer !important;
}
.noUi-base {
	background: transparent !important;
}
.noUi-handle:after {
	display: none !important;
}
.noUi-handle:before {
	display: none !important;
}
