@import '../../../../styles/vars';
.custom__slider {
	margin-top: 24px;
	h4 {
		color: $gray-color;
		font-family: Poppins;
		font-size: 12px;
		font-weight: 500;
	}
	.slider {
		width: 275px;
		margin: 22px auto 0 auto;
		height: 3px;
	}
	.range {
		margin-top: calc(18px + 20px);
		font-family: $primary-font;
		font-size: 14px;
		font-weight: 500;
	}
}
