@import '../../../../styles/vars';
.pagination {
	display: flex;
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0 10px 10px 0;
	background-color: white;
	padding: 2px 0;
	.numbers {
		> div {
			display: flex;
			width: fit-content;
		}
		p {
			font-family: $primary-font;
			font-size: 14px;
			font-weight: 500;
			margin-right: 8px;
			display: flex;
			align-items: end;
		}
	}
}
